<!doctype html>
<html>
	<body>
		{% if num > 81 %}
			<h1> You guessed too high! </h1>
		{% elif num == 81 %}
			<h1> Correct </h1>
		{% else %}
			<h1> You guessed too low! </h1>
		{% endif %}

	</body>
</html>

